.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 250px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }
}

.projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    align-items: center;
}

@media (width >= 800px) {
    .projectsContainer {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 30px;
    }
}

@media (width < 800px) {
    .container {
        margin-top: 240px; 
    }
}
