.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        justify-content: flex-start;
    }

    img {
        width: 20px;
    }

    .skillList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 30px;
        align-self: center;
        max-width: 500px;
        margin: auto;
    }
    
    hr {
        width: 100px;
        height: 1px;
        border: none;
        background-color: var(--text-color);
        margin: 30px auto;
    }
}

@media (width >= 800px) {
    .skillList {
      max-width: fit-content;
      gap: 20px;
  
      p {
        font-size: 14px;
      }
    }
  
    hr {
      width: 300px;
    }
}